In [ ]:
class Sushi1:
    pass 

class Sushi2(Sushi1):
    pass 

class Sushi3:
    pass 

class sushi4(Sushi3, Sushi2):
    pass